In [2]:
#Importing necessary libraries
import os
import requests
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs

In [3]:
# Read in the sms CSV file
file = pd.read_csv("Stores.csv")
file.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620

In [3]:
# assessing the file
file.describe()

,phoneNumber,id,updateAt,senderAddress,text
count,100243,100243,100243,100243,100237
unique,93,93,138,8929,59377
top,xx31026369,72b90e8a-1960-44f6-9bfc-a19a9410bd47,"Tue, 10 May 2022 07:24:02 UTC",TX-SFXRDR,We are unable to get your location. Location i...
freq,7880,7880,2001,3401,1151

In [4]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100243 entries, 0 to 100242
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   phoneNumber    100243 non-null  object
 1   id             100243 non-null  object
 2   updateAt       100243 non-null  object
 3   senderAddress  100243 non-null  object
 4   text           100237 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [9]:
file['phoneNumber'].nunique()

93

In [18]:
#re-writing the columns in lowercase separated by "_"
file.rename(columns={"phoneNumber":"phone_number","updateAt":"update_at","senderAddress":"sender_address"},inplace=True)
file.head()

,phone_number,id,update_at,sender_address,text
0,xx39973810,baa1668c-049e-4118-938e-cc804f1e73aa,"Sat, 7 May 2022 19:48:00 UTC",JK-SmplPL,Rs.95.15 on Zomato charged via Simpl.\r\n--\r\...
1,xx39973810,baa1668c-049e-4118-938e-cc804f1e73aa,"Sat, 7 May 2022 19:48:00 UTC",VP-ViCARE,Hi! Update your email id through WhatsApp: htt...
2,xx39973810,baa1668c-049e-4118-938e-cc804f1e73aa,"Sat, 7 May 2022 19:48:00 UTC",VP-612345,Lucknow ya Kolkata ? - watch it LIVE with Vi c...
3,xx39973810,baa1668c-049e-4118-938e-cc804f1e73aa,"Sat, 7 May 2022 19:48:00 UTC",BP-ACKOGI,"Mohd,\nCheck the incredible Acko insurance pol..."
4,xx39973810,baa1668c-049e-4118-938e-cc804f1e73aa,"Sat, 7 May 2022 19:48:00 UTC",VP-ViCARE,Hi! You can now get your Vi prepaid invoice em...